/*Allow box sizing inheritance*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

input {
    cursor: text;
}


/** MIXINS **?


/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*Main Component CSS classes*/

.frame {
    box-sizing : border-box; 
    margin : 10px auto;
    padding : 5px;
    border : 5px solid #A7A2A2;
    border-radius : 7px;
    background-color : #ECECEC;
    max-width : 700px;

 }

.header {
    box-sizing : border-box; 
    margin : inherit;
    padding : 0px;
    border : inherit;
    border-radius : 7px;
    max-width : 97%;
}

.heading {
    margin : inherit;
    padding : 0px;
    border : inherit;
    border-radius : 7px;
    max-width : 97%;
}

.actionList {
    margin : 5px auto;
    padding : 2px;
    background-color : #B1C1FD;
    border : 2px solid #3259EB;
    border-radius : inherit;
    max-width : 97%;
    min-height : 45px;
}

.action {
    margin : 10px auto;
    padding : 10px;
    background-color : #B1C1FD;
    border : 2px solid #3259EB;
    border-radius : 5px;
    max-width : 97%;
    cursor: move;

}


.action.over {
  border: 2px dashed #000;
}

.action p, .action input {
    margin: 0px;
    @include vertical-align();
}

// used to force the size of the inner div of an action
.action > div {
    height: 50px; 
    display: flex;
    align-items:flex-start;   
}

.menu {
    overflow:auto;
}


/* Other Components */

.spinner-wrapper {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-top:8px;
    vertical-align: bottom;
    position:relative;

}

.spinner-mes {
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
}

.spinner-animation {
    position: relative !important;
    left:50% !important;
    top:30% !important;
}

#signin-button {
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
}

#signout-button {
    position:relative;
    float:right;
}


/*Helper elements*/



.selectable {

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

$icon-size: 25px;

img.icon {
    height:$icon-size;
    width:$icon-size;
    margin: 3px;
}

div.separator {
	margin : 14px auto;
	height : 2px;
	width : 98%;
	background-color : #444444;

}

div.invisibleFrame {
    margin : 0px auto;
    padding : 0px;
    border : 2px solid #3259EB; /*For testing purposes*/
    max-width : 100%;
}

div.centerWrapper {
    text-align:center;
}

/*Forces element to align side by side*/
.row {
    display: inline-block;
    width:100%;
}





.no-margin {
    margin: 0px;
}


/*Text*/

.title {
	text-align : center;
}

.plainText {
    margin-left : 13px;
}

