/*Allow box sizing inheritance*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


/*Main Component CSS classes*/

.frame {
    box-sizing : border-box; 
    margin : 10px auto;
    padding : 5px;
    border : 5px solid #A7A2A2;
    border-radius : 7px;
    background-color : #ECECEC;
    max-width : 700px;

 }

.header {
    box-sizing : border-box; 
    margin : inherit;
    padding : 0px;
    border : inherit;
    border-radius : 7px;
    max-width : 97%;
}

.heading {
    margin : inherit;
    padding : 0px;
    border : inherit;
    border-radius : 7px;
    max-width : 97%;
}

.actionList {
    margin : 5px auto;
    padding : 2px;
    background-color : #B1C1FD;
    border : 2px solid #3259EB;
    border-radius : inherit;
    max-width : 97%;
    min-height : 45px;
}

.action {
    margin : 10px auto;
    padding : 10px;
    background-color : #B1C1FD;
    border : 2px solid #3259EB;
    border-radius : 5px;
    max-width : 97%;
    cursor: move;

}

.action.over {
  border: 2px dashed #000;
}

/*Helper elements*/

div.separator {
	margin : 14px auto;
	height : 50px;
	width : 98%;
	background-color : #444444;

}

div.invisibleFrame {
    margin : 0px auto;
    padding : 0px;
    border : 2px solid #3259EB; /*For testing purposes*/
    max-width : 100%;
}

/*Forces element to align side by side*/
.row {
    display: inline-block;
}

/*prevent user selection*/
/*[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
/*  -khtml-user-drag: element;
  -webkit-user-drag: element;
}*/

/*Text*/

.title {
	text-align : center;
}

.plainText {
    margin-left : 13px;
}